/*login*/
.loginBg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(222, 201, 201);
  background: url('../assets/loginBg2.jpg');
  background-size: cover;
}

.loginForm {
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.3);
  backdrop-filter: blur(3px);
  padding: 0px 16px 16px 16px;
  border-radius: 16px;
}


/*header*/
.appHeader{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px #e0dcdc33;
}

.loginHeaderIcon {
  font-size: 30px;
  margin-right: 16px;
  cursor: pointer;
}
.shoppingCartHeaderIcon{
  font-size: 30px;
  margin-right: 16px;
  cursor: pointer;
}

.appMenu{
  border: none;
  background: none;
}

.appHeaderRight{
  display: flex;
}


/*footer*/
.appFooter{
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 4px 4px #00000033;
}

/*pageContent*/
.appContent{
  display: flex;
  flex: 1;
  overflow-y: auto;
  margin-top: 2px;
  min-height: 100vh;
}

